<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>

    <script src="https://kit.fontawesome.com/4726b61960.js" crossorigin="anonymous"></script> <!--E' come un token per usare FontAwesome-->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css"> <!--Import di tutte le icone di FontAwesome-->
    
    <!--I miei css-->
    <link href="css/all.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        Salve
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
</body>
</html>