html,body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(../img/slide1.jpg);
    background-repeat: no-repeat;
    animation: slide 10s infinite;
}


@keyframes slide{
    50%{
        background-image: url(../img/slide3.jpg);
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(../img/slide1.jpg);
        background-repeat: no-repeat;
    }
}